.container
  %body
    %center
      %h1 Rides
      %table.table
        %tr
          %th.text-center Date
          %th.text-center Time
          %th.text-center Location
          %th.text-center Driver Name
          %th.text-center Request Count
          %th.text-center View Requests
          %th.text-center Book Rides
        - @rides.each do |ride|
          %tr
            %td.text-center= ride.date
            %td.text-center= ride.time.strftime("%I:%M%p")
            %td.text-center= ride.location
            %td.text-center= ride.driver.first_name + ride.driver.last_name
            %td.text-center= ride.ride_requests.count
            %td.text-center= link_to 'View Requests', ride_ride_requests_path(ride)
            %td.text-center= link_to 'Book Ride', new_ride_ride_request_path(ride)
      %br
      %br
      %a(href="/users")
        %button Show All Users
