:css
  table, th, td {
    border: 1px solid black;
  }

%body
  %center
    %h1 Rides
    %table
      %tr
        %th Date
        %th Time
        %th Location
        %th Driver Name
        %th Request Count
        %th View Requests
      - @rides.each do |ride|
        %tr
          %td= ride.date
          %td= ride.time.strftime("%I:%M%p")
          %td= ride.location
          %td= ride.driver.first_name + ride.driver.last_name
          %td= ride.ride_requests.count
          %td= link_to 'View Requests', ride_ride_requests_path(ride)
